section {
    border:1px solid white;
    background-color:white;
    padding-right:45px;
    padding-left:45px;
    margin-left:130px;
    margin-right:130px;
    position:absolute;
    margin-top:495px;
    border-radius:5px;
}

h1 {
    font-family:Serif;
    font-weight:bold;
    color:#08294d;
    font-size:45px;
}

p {
    font-family:Helvetica, Arial;
    color:#596C80;
}

#banner {
    width:1150px;
    height:600px;
    position:absolute;
    border-radius:5px;
}

#sign {
    width:20%;
    display:block;
/*PICK UP HERE NOAH! */
}

a {
    color: inherit;
}

#facebook {
    position:fixed;
    width:3.5%;
    margin:5px;
}

#index {
    bottom:0px;
    position:absolute;
    text-decoration:none;
    color:#08294d;
    font-family:Serif;
    font-weight:bold;
}

#index:hover {
    color:red;
}


footer {
    text-align:center;
}