section {
    border:1px solid white;
    background-color:white;
    padding-right:60px;
    padding-left:60px;
    margin-left:350px;
    margin-right:350px;
    position:absolute;
    margin-top:600px;
    border-radius:5px;
}

h1 {
    font-family:Serif;
    font-weight:bold;
    color:#08294d;
    font-size:45px;
}

p {
    font-family:Helvetica, Arial;
    color:#596C80;
}

#banner {
    width:1525px;
    height:700px;
    position:absolute;
    border-radius:5px;
    display:block;
}

#sign {
    width:25%;
    display:inline-block;
    margin-left:280px;
}

a {
    color: inherit;
}

a:hover {
    color:#3f7bdb;
}

#facebook {
    position:fixed;
    width:3.5%;
    margin:5px;
}

#index {
    bottom:0px;
    position:absolute;
    text-decoration:none;
    color:#08294d;
    font-family:Serif;
    font-weight:bold;
}

#index:hover {
    color:#3f7bdb;
}


footer img {
    /* text-align:center; */
    height:15px;
    display:inline-block;
    margin-left:320px;
}